<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>Autor: Hector Garcia Muñoz</p>
    <img src="/images/fotoAutor.jpg" width="150" height="150"  alt="Foto personal"/>    
  </body>
</html>
